# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Conda
conda-meta/
*.conda

# Environment variables
.env
.venv

# Temporary files
*.tmp
*.temp